@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
    background-color: #cccccc;
    font-family: 'Quicksand';
    padding: 55px;
}

.geolocation {
    position: sticky;
    color: #fffffff6;
    font-size: 30px;
    padding: 40px;
    border-style: dotted;
}

.content {
    margin: 0 auto;
}

.table {
    display: table;
    border-spacing: 5px;
    border-collapse: separate;
    width: 1300px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.weather-daily {
    padding: 10px;
}

.weather-day {
    background-color: #e1f5d570;
    width: 200px;
    height: 2px;
    padding: 10px;
    text-align: center;
}

#now {
    background-color: #faf2d1;
    width: 350px;
}

#day0 {
    width: 350px;
}

.weather-hourly {
    background-color: #ffffff;
    height: 5px;
    margin: 1px;
}

.col {
    width: 90px;
    vertical-align: bottom;
    text-align: center;
}

.bar {
    background-color: #bbdefb;
    height: 150px;
    width: 30px;
    margin: 0 auto;
}

.selected {
    width: 300px;
    background-color: #bbdefb;
    border-style: dotted;
    border-color: #fffffff6;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.site-footer {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding-top: 35px;
}

.github {
    display: block;
    font-size: 30px;
    margin: 5px auto;
    color: #ffffff;
}

.github:hover {
    color: #000407;
}

.city {
    padding: 30px;
    margin-bottom: 0px;
}

input {
    margin-left: 30px;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    color: rgb(90, 88, 88);
    border: 3px solid #bbdefb;
}

img {
    width: 4em;
    height: 3em;
}